*{
    padding:0;
    margin:0;
}

#calculator-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

/*#numpad{
    display: flex;
    flex-direction: column;

}*/

.operator-container{
    display: flex;
    flex-direction: column;
}

.numpad-container{


    height: 300px;
    display: flex;


}

.numpad-row{
    display: flex;
    /*width: 450px;
    height: 150px;*/


}

#screen{

    height:4rem;
    width: 596px;
    font-size: 3rem;

}

button {
    /*flex-grow:1;*/
    height: 100%;
    font-size: 2rem ;
    min-width: 72px;
}

#numpad-zero{
    flex-grow: 2;
}

#option-buttons{

    display: flex;


}

#numpad{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}
