*{
    padding:0;
    margin:0;
}

body{
    height:100vh;
    background: linear-gradient(#5da7ae, #ffebbc);
}

#calculator-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.operator-container{
    display: flex;
    flex-direction: column;
}

.operator-container button{
    background-color: #5da7ae;
}

.numpad-container{
    height: 300px;
    display: flex;  
}

.numpad-row{
    display: flex;
}

.numpad-row button{

    background-color: #543d46;

}

#screen{

    height:4rem;
    width: 288px;
    font-size: 3rem;
    background-color: #292830;
    color: lightgrey;

}

button {
    /*flex-grow:1;*/
    height: 100%;
    font-size: 2rem ;
    min-width: 72px;
    color: lightgrey;
    border: 3px solid black;
    border-radius: 10px;
}

#numpad-zero{
    flex-grow: 2;
}

#option-buttons{

    display: flex;
}

#option-buttons button{
    background-color: #5da7ae;
}

#numpad{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}


